/* Body Dark + texte clair */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #111;
  color: #fff;
}

.pdf-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.pdf-item {
  position: relative;
  aspect-ratio: 1 / 1;
  background-color: #00ffff1a;
  border: 2px solid #00ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,255,255,0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.pdf-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,255,255,0.5);
}

.pdf-item iframe {
  width: 100%;
  height: 40%;
  border: groove;
  border-radius: 20px;
}

.download-btn {
  margin-top: auto;
  width: 90%;
  text-align: center;
  background-color: #00ffff;
  color: #111;
  text-decoration: none;
  padding: 8px 0;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.download-btn:hover {
  background-color: #00cccc;
}

@media (max-width: 600px) {
  .pdf-grid {
    gap: 10px;
  }
  .download-btn {
    padding: 6px 0;
    font-size: 14px;
  }
}
